* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --main-bg-color: #0b0c10;
  --gradient-bg-color: #2d2d2d;
  --dark-purple: #581870;
  --light-purple: #bb93cb;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(
    315deg,
    var(--main-bg-color) 0%,
    var(--gradient-bg-color) 75%
  );
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}


.button {
   color: var(--dark-purple);
}

.sec-reto {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  color: #333;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  justify-content: flex-start;
  transition: all 0.3s ease;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: #8a2be2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  flex-shrink: 0;
}

.icon svg {
  width: 28px;
  height: 28px;
}

.button:hover {
  width: 200px;
  cursor: pointer;
}

.button span {
  opacity: 0;
  transform: translateX(10px);
  cursor: #555;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 10px;
  padding-right: 15px;
  transition: opacity 0.3s ease, transform 0.3s ease; ;
}

.button:hover span {
  opacity: 1;
  transform: translateX(0);
}